<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" id="content-section">
    <h2>{{firstName}} {{lastName}}</h2>
    <div class="justify-content-between flex-wrap align-items-center pb-2 mb-3 border-bottom">            
        <div class="btn-toolbar mb-2 mb-md-0">
            <form id="formUser">
            <div class="container">
                 <div class="form-group">
                    <label for="firstName">First Name:</label>
                    <input type="text" class="form-control" id="firstName" value="{{firstName}}">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name:</label>
                    <input type="text" class="form-control" id="lastName" value="{{lastName}}">
                </div>
                <div class="form-group">
                    <label for="username">User name:</label>
                    <input type="text" class="form-control" disabled="disabled" id="username" value="{{username}}">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd">
                </div> 
                <div class="form-group">
                    <label for="confirmPwd">Confirm Password:</label>
                     <input type="password" class="form-control" id="confirmPwd">
                </div>

                <button class="btn btn-primary btn-small" id="btnUpdateUser" type="button">Update</button>
            </div>
            </form>
        </div>
    </div>
</main>