<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>Task Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <!-- Bootstrap core CSS -->
    <link type="text/css" href="/assets/css/bootstrap.css" rel="stylesheet">
    <!-- FontAwesome core -->
    <link type="text/css" href="/assets/css/font-awesome.css" rel="stylesheet">
    
    <!-- Toastr CSS -->
    <link type="text/css"  href="/assets/css/toastr.css" rel="stylesheet">
    <!-- Bootsrap-datepicker CSS -->
    <link type="text/css"  href="/assets/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <!-- QueryBuilder CSS -->
    <link type="text/css"  href="/assets/css/query-builder.defaultcss" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link type="text/css"  href="/assets/css/dashboard.css" rel="stylesheet">
    <meta name="theme-color" content="#563d7c">
  </head>
  <body>
    <input type="hidden" id="greeting" value="{{greeting}}">

    {{> navbar }}   
      {{#if eventPage}}
        {{> eventContent}}
      {{else if calendarPage}}
        {{> calendarContent}}
      {{else if profilePage}}
        {{> profileContent}}
      {{else if searchPage}}
        {{> searchEventContent}}
      {{/if}}
      
      {{> modalEventContent }}
      {{> modalEventQueryContent}}
      {{> modalRemoveEvent}}

    <script type="text/javascript" src="./assets/js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="./assets/js/moment-with-locales.js"></script>

    <script type="text/javascript" src="./assets/js/bootstrap.bundle.js"></script>
    <!-- toastr -->
    <script type="text/javascript" src="./assets/js/toastr.min.js"></script>

    <!-- bootstrap-datepicker -->
    <script type="text/javascript" src="./assets/js/bootstrap-datepicker.min.js"></script>
    <!-- bootstrap-datepicker -->
    <script type="text/javascript" src="./assets/js/query-builder.standalone.min.js"></script>

    <!-- index.js is our functionality -->
    <script type="text/javascript" src="./assets/js/App/index.js"></script>
    
    <script>
      $(document).ready(function(){
        //check if this page loaded when user has sign in or it is called by another page
        if($('#greeting').val()){
            toastr["info"]("Hello {{firstName}}!", "Welcome")
        }

        // Fix for Bootstrap Datepicker
        $('#builder-widgets').on('afterUpdateRuleValue.queryBuilder', function(e, rule) {
          if (rule.filter.plugin === 'datepicker') {
            rule.$el.find('.rule-value-container input').datepicker('update');
          }
        });
        
        $('#builder-widgets').queryBuilder({          
          filters: [{
            id: 'startDate',
            label: 'Start Date',
            type: 'date',
            validation: {
              format: 'YYYY/MM/DD'
            },
            plugin: 'datepicker',
            plugin_config: {
              format: 'yyyy-mm-dd',
              todayBtn: 'linked',
              todayHighlight: true,
              autoclose: true
            }
          },
          {
            id: 'endDate',
            label: 'End Date',
            type: 'date',
            validation: {
              format: 'YYYY/MM/DD'
            },
            plugin: 'datepicker',
            plugin_config: {
              format: 'yyyy-mm-dd',
              todayBtn: 'linked',
              todayHighlight: true,
              autoclose: true
            }
          },
          {
            id: 'location',
            label: 'location',
            type: 'string'
          }
          ]
        });




      })
    </script>

<script>

</script> 
  </body>
</html>